@model OrderDetailViewModel

<div>
    <h1>Order Detail</h1>
</div>

<div>
    <table>
        @if (User.IsInRole("Admin")){
            <tr>
                <td>Buyer Name:</td>
                <td>@Model.Buyer</td>
            </tr>
        }
        <tr>
            <td>Order Date:</td>
            <td>@Model.OrderDate</td>
        </tr>
        <tr>
            <td>Total Price:</td>
            <td>@Model.TotalPrice</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>@Model.Status</td>
        </tr>
    </table>
</div>

<div>
    <h2>Product List</h2>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrderItems.Count; i++) {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.OrderItems[i].ProductName</td>
                    <td>@Model.OrderItems[i].Price</td>
                    <td>@Model.OrderItems[i].Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>