@model UserOrderGridViewModel

@{
    if (Model.Payload.Pagination.SortBy == "OrderId") Model.Payload.Pagination.SortBy = "entry";
}

<partial name="_UserNavContent" model="@Model.Navigation"></partial>

<div class="content container">
    <div class="row">
        <h1>My Order List</h1>
    </div>

    <div class="row mt-3">
        @foreach (var order in Model.Payload.Content) {
            <div class="card mb-3 flex-row align-items-center">
                <div class="card-body">
                    <h5 class="card-title">Order @order.Id</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Order Date: @order.OrderDate (@order.Status)</h6>
                    <p class="card-text">Total Price: @order.TotalPrice</p>
                </div>
                <div class="card-action">
                    <a class="btn btn-info" asp-action="detail" asp-route-id="@order.Id">Detail</a>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_FooterContent"></partial>
