@model ProductDetailViewModel

@{
    var navModel = new UserNavViewModel {
        CategoryDropdown = Model.CategoryDropdown
    };
}

<partial name="_UserNavContent" model="@navModel">

<div class="content container">
    <div class="row">
        <div class="col">
            <h1>@Model.Name</h1>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-auto">
            <table class="product-detail-table">
                <tr>
                    <td>Category:</td>
                    <td>@Model.Category</td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>@Model.Price</td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col col-md-auto">
            <form asp-controller="cart" asp-action="save" method="post">
                @if (User.Identity!.IsAuthenticated) {
                    <fieldset>
                        <input type="hidden" name="productId" asp-for="@Model.CartUpsert!.ProductId">
                        <div class="input-group">
                            <input class="form-control" name="quantity" asp-for="@Model.CartUpsert!.Quantity">
                            <button type="submit" class="btn btn-warning">Add to Cart</button>
                        </div>
                    </fieldset>
                } else {
                    <fieldset disabled>
                        <div class="input-group">
                            <input class="form-control" asp-for="@Model.CartUpsert!.Quantity">
                            <button type="submit" class="btn btn-warning">Add to Cart</button>
                        </div>
                    </fieldset>
                    <span class="text-danger fs-6 fst-italic">*please login before add to cart*</span>
                }
            </form>
        </div>
        <div class="col col-md-auto">
            <a class="btn btn-secondary" asp-controller="home" asp-action="search">Back to products</a>
        </div>
    </div>
</div>

<partial name="_FooterContent">