@model SearchViewModel

<partial name="_UserNavContent" model="@Model.Navigation">

<div class="content container">
    <div class="row">
        <div class="col product-card-container">
            @foreach (var product in Model.Products.Payload.Content) {
                <div class="card">
                    <img src="" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Price</p>
                        <a class="btn btn-info" asp-controller="product" asp-action="detail" asp-route-id="@product.Id">Detail</a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row mt-3">
        <div class="col col-md-auto">
            <nav aria-label="product pagination">
                <ul class="pagination">
                    @if (Model.Products.Payload.Pagination.TotalPages > 1) {
                        @if (Model.Products.Payload.Pagination.PageNumber > 1) {
                            <li class="page-item">
                                <a class="page-link" asp-route-pageNumber="@(Model.Products.Payload.Pagination.PageNumber - 1)" asp-route-productName="@Model.Products.Name" asp-route-category="@Model.Products.Category">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                        }
                        @for(int i = 1; i <= Model.Products.Payload.Pagination.TotalPages; i++) {
                            @if (i == Model.Products.Payload.Pagination.PageNumber) {
                                <li class="page-item active">
                                    <a class="page-link" asp-route-pageNumber="@i" asp-route-productName="@Model.Products.Name" asp-route-category="@Model.Products.Category">@i</a>
                                </li>
                            } else {
                                <li class="page-item">
                                    <a class="page-link" asp-route-pageNumber="@i" asp-route-productName="@Model.Products.Name" asp-route-category="@Model.Products.Category">@i</a>
                                </li>
                            }
                        }
                        @if (Model.Products.Payload.Pagination.PageNumber < Model.Products.Payload.Pagination.TotalPages) {
                            <li class="page-item">
                                <a class="page-link" asp-route-pageNumber="@(Model.Products.Payload.Pagination.PageNumber + 1)" asp-route-productName="@Model.Products.Name" asp-route-category="@Model.Products.Category">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<partial name="_FooterContent">