@model CartGridViewModel

<partial name="_UserNavContent" model="@Model.Navigation"></partial>

<div class="content container">
    <div class="row">
        <h1>My Cart</h1>
    </div>

    <div class="row mt-3">
        @foreach (var cart in Model.Payload.Content) {
            <div class="card mb-3 flex-row align-items-center">
                <div class="card-body">
                    <h5 class="card-title">@cart.ProductName</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">@cart.Price</h6>
                    <p class="card-text">Quantity: @cart.Quantity</p>
                </div>
                <div class="card-action d-flex gap-3">
                    <form asp-controller="cart" asp-action="save" method="post">
                        <input type="hidden" name="id" asp-for="@cart.Id">
                        <input type="hidden" name="productId" asp-for="@cart.CartUpsert.ProductId">
                        <div class="input-group">
                            <input class="form-control" name="quantity" asp-for="@cart.CartUpsert.Quantity">
                            <button type="submit" class="btn btn-warning">Save</button>
                        </div>
                    </form>
                    <a class="btn btn-danger" asp-action="delete" asp-route-id="@cart.Id">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>
            </div>
        }
    </div>

    @if (Model.Payload.Content.Count > 0) {
        <div class="row">
            <div class="col col-md-auto">
                <a class="btn btn-warning" asp-action="checkout">Checkout All Item</a>
            </div>
        </div>
    }
</div>

<partial name="_FooterContent">